body{
    color: white;
    background: linear-gradient(black,grey);
}


.full-container{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap:30px
}
.movie-rating{
    top: 50px;
    right: 50px;
    position: absolute;
    display: flex;
    font-size: 48px;
    gap: 20px;
    margin-right: 50px;
    align-self: flex-end;
}
.movie-rating>.star{
    height: 50px;
    width: auto;
}
.movie-details-container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
.movie-img-container{
    width: 300px;
    height: 400px;
    margin-right: 40px;
}
.movie-details-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: wrap;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    height: auto;
}

.movie-details>p {
    font-size: 26px;
    font-family: "Opensans";
    margin-bottom: 20px;
    max-width: 100%;
}

.movie-details>h1{
    font-size: 48px;
    padding: 0;
}
.bookmark-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 15px;
}
.bookmark-container>img{
    width: 43px;
    height: 45px;
}
.bookmark-container>h3{
    font-size: 30px;
}
.stars-container{
    display: flex;
    gap:20px;
}
.star{
    max-width: 30px;
    max-height: 30px;
}

.genre-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.genre{
    font-size: 26px;
    padding: 5px 25px;
    background-color: #DB0000;
    border-radius: 30px;
}

.full-container>h2{
    font-size: 28px;
}

.line {
    border: none;
    height: 3px;
    background-color: white;     
    width: 100%;
}
